/vendor/
/source/vendor/
/source/node_modules/
/source/npm-debug.log
/source/yarn-error.log

# Laravel 4 specific
/source/bootstrap/compiled.php
/source/app/storage/

# Laravel 5 & Lumen specific
/source/public/storage
/source/public/hot
/source/storage/

# Laravel 5 & Lumen specific with changed public path

/source/storage/*.key
/source/.env
/source/Homestead.yaml
/source/Homestead.json
/source/.vagrant
/source/.phpunit.result.cache
